@model LocusNew.Core.AdminViewModels.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "UsersManager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade" tabindex="-1" role="dialog" id="ChangePasswordModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="text-center">Promijeni lozinku</h5>
                    <p class="text-danger">@TempData["ErrorMessage"]</p>
                    @Html.HiddenFor(m => m.UserId)
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Trenutna lozinka:</label>
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                    </div>
                    <div class="form-group">
                        <label>Lozinka:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <label>Ponovite lozinku:</label>
                        @Html.PasswordFor(m => m.PasswordRepeated, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PasswordRepeated)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger m-auto">Spasi</button>
                    <button type="button" class="btn btn-light m-auto" data-dismiss="modal">Poništi</button>
                </div>
            </div>
        </div>
    </div>
}
